/**/.idea/workspace.xml
/DENO_DIR/
/bin
/tmp
/frontend/.eslintcache
/.idea/highlightedFiles.xml
/.idea/markdown.xml
/.idea/httpRequests/
/.idea/google-java-format.xml
/.idea/checkstyle-idea.xml
/.idea/active-tab-highlighter.xml
/.idea/jpa-buddy.xml
/frontend/.idea/checkstyle-idea.xml
/frontend/.idea/google-java-format.xml
/frontend/dist/
/frontend/tsconfig.tsbuildinfo
